body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @apply text-gray-600;
  }
  
  #app {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  
  }
  
  
  #app {
    @apply overflow-hidden;
  } 
  #main {
    @apply relative flex-grow h-full w-full overflow-auto;
  }
  
  
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mt-0 mb-1 font-normal leading-normal;
  }
  
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply mt-0 mb-0 font-normal leading-normal;
  }
  
  h1,
  .h1 {
    @apply text-6xl;
  }
  
  h2,
  .h2 {
    @apply text-5xl;
  }
  
  h3,
  .h3 {
    @apply text-4xl;
  }
  
  h4,
  .h4 {
    @apply text-3xl;
  }
  
  h5,
  .h5 {
    @apply text-2xl;
  }
  
  h6,
  .h6 {
    @apply text-xl;
  }
  
  p {
    @apply text-lg mt-0 mb-1 text-blueGray-500 leading-relaxed;
  }
  
  pre {
    @apply p-2 bg-gray-50 overflow-auto text-gray-400;
  }
  .label {
    @apply block mb-1 text-xs font-thin text-gray-600;
  }
  .input, .form-control {
    @apply appearance-none w-full px-4 py-2.5 text-base leading-none bg-white rounded border-gray-200 outline-none focus:outline-none focus:border-gray-400;
  }
  .input[disabled], .form-control[disabled] {
    @apply bg-gray-50 text-gray-700 cursor-not-allowed;
  }
  .btn[disabled] {
    @apply cursor-not-allowed;
  }
  .checkbox {
    @apply h-6 w-6 rounded border-gray-300;
  }

  .section {
    @apply container mx-auto px-4;
  }